################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Teszt/FileContentIndex/11144aa0-b3e7-4047-8b96-6e539145f310.vsidx
/.vs/Teszt/FileContentIndex/2c8d3c57-2077-4e22-bce4-52ae547578b9.vsidx
/.vs/Teszt/FileContentIndex/78074714-2ff6-4abf-b6a5-fb3e021f8ed9.vsidx
/.vs/Teszt/FileContentIndex/7856cc64-b099-43c8-99fb-8159a62a05b8.vsidx
/.vs/Teszt/FileContentIndex/ac455bd0-5c2c-41b8-a230-7d28f9c7fa72.vsidx
/KorHenger/.vs/KörHenger/FileContentIndex/518d5cfd-4e6a-47ef-abd9-bcc3e22e8184.vsidx
