################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Teszt/FileContentIndex/11144aa0-b3e7-4047-8b96-6e539145f310.vsidx
/.vs/Teszt/FileContentIndex/2c8d3c57-2077-4e22-bce4-52ae547578b9.vsidx
/.vs/Teszt/FileContentIndex/78074714-2ff6-4abf-b6a5-fb3e021f8ed9.vsidx
/.vs/Teszt/FileContentIndex/7856cc64-b099-43c8-99fb-8159a62a05b8.vsidx
/.vs/Teszt/FileContentIndex/ac455bd0-5c2c-41b8-a230-7d28f9c7fa72.vsidx
/KorHenger/.vs/KörHenger/FileContentIndex/518d5cfd-4e6a-47ef-abd9-bcc3e22e8184.vsidx
/.vs/Teszt/FileContentIndex/2969bef8-045c-46a4-bd4c-79f60c298dd6.vsidx
/.vs/Teszt/FileContentIndex/3894c66b-578e-4d50-aaf5-7eb20e8ea167.vsidx
/.vs/Teszt/FileContentIndex/52635c73-bcf5-4eb6-89ec-864c2d7d7f15.vsidx
/.vs/Teszt/FileContentIndex/5b9173c5-2480-4d9e-894c-d53824877416.vsidx
/.vs/Teszt/FileContentIndex/81a4d5c1-c57a-442a-a4c2-6bc971963d9b.vsidx
/.vs/Teszt/FileContentIndex/df4dbab9-a2f2-42c1-affe-65cde664b989.vsidx
/.vs/Teszt/FileContentIndex/8c2405ea-a4a2-43e2-8ff2-46524fc80833.vsidx
